* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.content {
    height: 100%;
    margin-left: 130px;
    padding: 10px
}

/* ////////////// */
/* Navigation bar */
/* ////////////// */

.navBar {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #f1f1f1;
    width: 130px;
}

.navBar button {
    border: none;
    outline: none;
    cursor: pointer;
    display: block;
    padding: 10px;
    width: 100%;
}

.navBar button:hover {
    background-color: #000;
    color: white;
}

.navBar button.active {
    background-color: #4CAF50;
    color: white;
}

/* ////////////// */
/*     Tables     */
/* ////////////// */

table {
    border: 1px solid #eee;
	width: 100%;
    margin-top: 5px;
	margin-bottom: 20px;
    border-collapse: collapse;
}

table th {
    font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
}

table td{
	padding: 5px 10px;
	border: 1px solid #eee;
	text-align: left;
}
table tbody tr:nth-child(odd){
	background: #fff;
}
table tbody tr:nth-child(even){
	background: #F7F7F7;
}

table input {
    max-height: 25px;
}

table .center {
    text-align: center;
}

.noData {
    text-align: center;
    font-size: larger;
    font-weight: bold;
}
/* ////////////// */
/*       Add      */
/* ////////////// */

.addBtn {
    padding: 10px 20px; /* Отступы внутри кнопки */
    font-size: 16px; /* Размер шрифта */
    background-color: #4CAF50; /* Цвет фона кнопки */
    color: #fff; /* Цвет текста */
    border: none; /* Убираем границу */
    border-radius: 4px; /* Скругляем углы */
    cursor: pointer; /* Изменяем курсор при наведении */
    margin-top: 5px;
    margin-bottom: 5px;
}

.addBtn:hover {
    background-color: #3d8b40; /* Цвет фона кнопки при наведении */
}

/* ////////////// */
/*      Forms     */
/* ////////////// */

form {
    width: 300px; /* Ширина формы */
    margin: 0 auto; /* Центрирование формы по горизонтали */
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 10px;
}

form label {
    display: block; /* Каждая метка на новой строке */
    margin-bottom: 10px; /* Отступ между метками */
}

form input {
    width: 100%; /* Ширина инпутов по всей доступной ширине */
    padding: 8px; /* Внутренний отступ */
    margin-top: 4px; /* Отступ от предыдущего элемента */
    border: 1px solid #ccc; /* Граница инпутов */
    border-radius: 4px; /* Скругление углов */
    box-sizing: border-box; /* Учет границы в расчете размера */
}

form select {
    width: 100%; /* Ширина инпутов по всей доступной ширине */
    padding: 8px; /* Внутренний отступ */
    margin-top: 4px; /* Отступ от предыдущего элемента */
    border: 1px solid #ccc; /* Граница инпутов */
    border-radius: 4px; /* Скругление углов */
    box-sizing: border-box; /* Учет границы в расчете размера */
}

form .sex {
    display: flex; 
    align-items: baseline;
}

form .sex div {
    display: flex; 
    align-items: baseline;
    margin-left: auto;
    margin-right: auto;
}

form .sex input {
    margin-right: 10px;
}

form button {
    width: 100%; /* Ширина кнопки по всей доступной ширине */
    padding: 10px; /* Внутренний отступ */
    margin-top: 10px; /* Отступ от предыдущего элемента */
    color: #fff; /* Цвет текста кнопки */
    border: none; /* Удаление границы */
    border-radius: 4px; /* Скругление углов */
    cursor: pointer; /* Указатель при наведении */
}

form .cancel {
    background-color: #ff0000; /* Цвет фона кнопки "Отменить" */
    color: #fff; /* Цвет текста кнопки "Отменить" */
}

form .save {
    background-color: #007bff; /* Цвет фона кнопки "Сохранить" */
    color: #fff; /* Цвет текста кнопки "Сохранить" */
}

form .save:disabled {
    opacity: 0.5;
    cursor: default;
}

form button:hover {
    opacity: 0.8; /* Уменьшение прозрачности кнопки при наведении */
}

.highlight {
    border-color: red; /* Цвет границы поля */
    box-shadow: 0 0 5px red; /* Тень поля */
}

.timeSlots .timeBlock {
    display: inline-block;
    width: 80px; /* Ширина блока времени */
    height: 30px; /* Высота блока времени */
    margin: 5px; /* Внешний отступ между блоками времени */
    background-color: #f1f1f1; /* Цвет фона блока времени */
    text-align: center;
    line-height: 30px; /* Выравнивание текста по вертикали */
    cursor: pointer; /* Курсор при наведении */
}

.timeSlots .timeBlock:not(.off):hover {
    background-color: #3d8b40; /* Цвет фона блока времени при наведении */
    color: white; /* Цвет текста блока времени при наведении */
}

.timeSlots .timeBlock.select {
    background-color: #4CAF50;
}

.timeSlots .timeBlock.off, 
.timeSlots .timeBlock.selectedOther {
    opacity: 0.5;
    cursor: default;
}